<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93971476-2', 'auto');
  ga('send', 'pageview');

</script>
<section id="service" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">        
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>Service</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">What Can I Do For You?</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p>With Tr3umphant.Designs, development for your next project is only a click away. As a personal developer with an ample amount of background experience, I can make your dream business plan, money venture, or even personal portfolio, come to life.</p>
            </div>
        </div>
        <div class="row m-t-1">
            <div class="col-md-12">
                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">
                    <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">First Step - Contact <i class="fa fa-envelope"></i></span>
                        </a>
                        <div class="step-content grey lighten-3">
                            <p>By contacting me via through this website, my email, and/or phone number, I can know that you are interested in the service. <strong>I am currently taking request for website development only.</strong></p>
                        </div>
                    </li>
                    <!-- Second Step -->
                    <li class="active">
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Second Step - Discussion/Planning <i class="fa fa-edit"></i></span>
                        </a>
                        <div class="step-content grey lighten-3">
                            <p>We now need to iron out all the details of your request. To ensure you are getting the best deal for your project, we need to discuss which plan you choose, when you need it finished, the purpose of your project, and any other details pertaining to such. I take notes of any information provided to ensure nothing is left out of the development process.</p>
                        </div>
                    </li>
                    <!-- Third Step -->
                    <li class="active">
                        <a href="#!">
                            <span class="circle">3</span>
                            <span class="label">Third Step - Development <i class="fa fa-code"></i></span>
                        </a>
                        <div class="step-content grey lighten-3">
                            <p>Now I can start creating your app. The first half of the cost of you project will be due as a deposit. In order to insure you receive your product in a timely fashion, we will have the time estimate discussed in the prior step. In this period, I will be contacting you weekly for questions/updates with your app.</p>
                        </div>
                    </li>
                    <!-- Fourth Step -->
                    <li class="active">
                        <a href="#!">
                            <span class="circle">4</span>
                            <span class="label">Forth Step - Completion <i class="fa fa-thumbs-up"></i></span>
                        </a>
                        <div class="step-content grey lighten-3">
                            <p>At this point, your app is complete, and I will be walking you through the steps to putting your app on a server or market. The second half of the fee for development is due at this point as well.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                    <h4>Website Quote Calculator</h4>
                    <p>Development pricing is very project specific, meaning these prices are not set in stone. Based on factors such as time, material needed, and purpose for your project, the fee can easily flucuate; these, however, are the most accurate estimates. <strong>Note - Payments will require half of the cost upfront as deposit, and the other half once the project is complete.</strong></p>
                    <p><strong>* represents Google's Firebase Feature. Pricing for Firebase may increase based on how much data is used, (check pricing <a href="https://firebase.google.com/pricing/">here</a>).</strong></p>
                    <p><strong>Google API Listing <a href="https://developers.google.com/apis-explorer/#p/">here</a>.
            </div>
        </div>
        <!-- Quote Table -->
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Feature</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Base Development Fee -->
                <tr>
                    <td>
                        <i class="fa fa-keyboard-o orange-text"></i>
                    </td>
                    <td>
                        Base Development Fee
                    </td>
                    <td>
                        Fee for labor on creating your project.
                    </td>
                    <td>{{ vm.baseDevelopmentCost | currency: "$" }}</td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="baseDevelopment" ng-model="vm.baseDevelopment" disabled>
                            <label for="baseDevelopment"></label>
                        </fieldset>
                    </td>

                </tr>
                <!-- Number of Pages -->
                <tr>
                    <td>
                        <i class="fa fa-wpforms orange-text"></i>
                    </td>
                    <td>
                        Number of Pages
                    </td>
                    <td>
                        For single or multiple page applications.
                    </td>
                    <td>
                        {{ vm.pageCost | currency: "$" }}/page
                    </td>
                    <td>
                        <form class="range-field">
                            <input type="range" min="0" max="20" ng-model="vm.numberOfPages"/>
                        </form>
                    </td>
                </tr>
                <!-- Domain Name -->
                <tr>
                    <td>
                        <i class="fa fa-pencil orange-text"></i>
                    </td>
                    <td>
                        Domain Name
                    </td>
                    <td>
                        The unique name that appears in the URL for your website.
                    </td>
                    <td>
                        {{ vm.domainNameCost | currency: "$" }}/year
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="domainName" ng-model="vm.domainName">
                            <label for="domainName"></label>
                        </fieldset>
                    </td>
                </tr>
                <!-- Website Hosting -->
                <tr>
                    <td>
                        <i class="fa fa-desktop orange-text"></i>
                    </td>
                    <td>
                        Website Hosting
                    </td>
                    <td>
                        Use my server, or host on your own server.
                    </td>
                    <td>
                        {{ vm.websiteHostingCost | currency: "$" }}/year
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="websiteHosting" ng-model="vm.websiteHosting">
                            <label for="websiteHosting"></label>
                        </fieldset>
                    </td>
                </tr>
                <!-- Email Functionality -->
                <tr>
                    <td>
                        <i class="fa fa-envelope orange-text"></i>
                    </td>
                    <td>
                        E-Mail Functionality
                    </td>
                    <td>
                        Ability to send forms through email to users.
                    </td>
                    <td>{{ vm.emailFunctionalityCost | currency: "$" }}</td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="emailFunctionality" ng-model="vm.emailFunctionality">
                            <label for="emailFunctionality"></label>
                        </fieldset>
                    </td>
                </tr>
                <!-- Database Integration -->
                <tr>
                    <td>
                        <i class="fa fa-database orange-text"></i>
                    </td>
                    <td>
                        Database Integration*
                    </td>
                    <td>
                        NoSQL Database, information is stored securly and accessed swiftly.
                    </td>
                    <td>
                        {{ vm.databaseIntegrationCost | currency: "$" }}
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="databaseIntegration" ng-model="vm.databaseIntegration">
                            <label for="databaseIntegration"></label>
                        </fieldset>
                    </td>
                </tr>
                <!-- User Authentication -->
                <tr>
                    <td>
                        <i class="fa fa-users orange-text"></i>
                    </td>
                    <td>
                        User Authentication*
                    </td>
                    <td>
                        Have users authenticate themselves by email & password, Facebook, Twitter, Google+, or Github.
                    </td>
                    <td>{{ vm.userAuthenticationCost | currency: "$" }}</td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="userAuthentication" ng-model="vm.userAuthentication">
                            <label for="userAuthentication"></label>
                        </fieldset>
                    </td>

                </tr>
                <!-- Storage -->
                <tr>
                    <td>
                        <i class="fa fa-clone orange-text"></i>
                    </td>
                    <td>
                        Storage*
                    </td>
                    <td>
                        Uploading of pdfs, word documents, pictures, videos, etc.
                    </td>
                    <td>{{ vm.storageCost | currency: "$" }}</td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="storage" ng-model="vm.storage">
                            <label for="storage"></label>
                        </fieldset>
                    </td>

                </tr>
                <!-- Ecommerce -->
                <tr>
                    <td>
                        <i class="fa fa-dollar orange-text"></i>
                    </td>
                    <td>
                        Ecommerce
                    </td>
                    <td>
                        Incorporate paid services into your app.
                    </td>
                    <td>{{ vm.ecommerceCost | currency: "$" }}</td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="ecommerce" ng-model="vm.ecommerce">
                            <label for="ecommerce"></label>
                        </fieldset>
                    </td>

                </tr>
                <!-- Ongoing Website Maintenance -->
                <tr>
                    <td>
                        <i class="fa fa-wrench orange-text"></i>
                    </td>
                    <td>
                        Ongoing Website Maintenance
                    </td>
                    <td>
                        To ensure your website stays up to date.
                    </td>
                    <td>{{ vm.ongoingWebsiteMaintenanceCost | currency: "$" }}/year</td>
                    <td>
                        <fieldset class="form-group">
                            <input type="checkbox" id="ongoingWebsiteMaintenance" ng-model="vm.ongoingWebsiteMaintenance">
                            <label for="ongoingWebsiteMaintenance"></label>
                        </fieldset>
                    </td>
                </tr>
                <!-- Google APIs -->
                <tr>
                    <td>
                        <i class="fa fa-gears orange-text"></i>
                    </td>
                    <td>
                        Google APIs
                    </td>
                    <td>
                        Access to Maps, Analytics, AdMob, and more.
                    </td>
                    <td>{{ vm.googleAPICost | currency: "$" }}/API</td>
                    <td>
                        <form class="range-field">
                            <input type="range" min="0" max="10" ng-model="vm.numberOfGoogleAPIs"/>
                        </form>
                    </td>

                </tr>
            </table>
        <div class="row">
            <div class="col">
                <button class="btn orange pull-left" ng-click="vm.calculate()">Calculate Estimate</button>
                <button ng-show="vm.totalCost > vm.baseDevelopmentCost" class="btn blue pull-left" ng-click="vm.sendQuoteToContact()">Contact Now With This Quote</button>
                <div class="md-form pull-right">
                    <h1 class="green-text" ng-show="vm.depositCost"><strong>{{ vm.depositCost | currency: "$" }} Deposit</strong></h1>
                    <h4 class="green-text" ng-show="vm.totalCost">{{ vm.totalCost | currency: "$" }} Total with deposit</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <h4>Android Quote Calculator</h4>
                    <p><strong>Coming Soon...</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
                <div class="row">
            <div class="col">
                    <h4>iOS Quote Calculator</h4>
                    <p><strong>Coming Soon...</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
</section>