<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93971476-2', 'auto');
  ga('send', 'pageview');

</script>
<section id="full-blog" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn-floating btn-small red" ng-click="vm.back()"><i class="fa fa-arrow-left"></i></a>
                <img ng-src="{{ vm.blog.image }}" class="img-fluid" alt="">
                <br>
                <h1 class="orange-text animated zoomInRight"><strong>{{ vm.blog.title }}</strong></h1>
                <hr>
                <h4 class="animated zoomInRight">{{ vm.blog.subtitle }}</h4>
                <h5>Posted {{ vm.blog.postDateTime }}</h5>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <p ng-bind-html="vm.blog.html"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn-group dropup pull-right">
                    <button class="btn teal darken 4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share Blog</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="" ng-click="vm.share('FACEBOOK')">To Facebook</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" ng-click="vm.share('TWITTER')">To Twitter</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" ng-click="vm.share('LINKEDIN')">To LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

